<article class="flex flex-col items-center justify-center gap-8 w-full">
  <h1 class="zen-maru-gothic-bold text-4xl text-center mb-4"><%= title "リスト編集" %></h1>
  <%= form_with(model: @list, local: true, class: "space-y-4") do |form| %>
    <%= render 'form', form: form %>
  <div class="flex gap-5 justify-center items-center">
    <%= link_to "削除", list_path(@list), data: { turbo_method: :delete }, class: "btn btn-error" %>
    <%= form.submit "更新", class: "btn btn-primary" %>
  </div>
  <% end %>
  <%= link_to "戻る", lists_path, class: "link" %>
</article>