<article class="flex flex-col items-center justify-between gap-4">
  <h1 class="text-4xl text-center mb-4 zen-maru-gothic-bold"><%= title @list.name %></h1>
  <div class="flex justify-center items-center gap-2">
    <h2 class="text-lg font-semibold"><%= @list.user.name %>さんのリスト</h2>
    <% if current_user&.id == @list.user_id %>
      <%= link_to '編集', edit_list_path(@list.id), class: 'link link-primary' %>
    <% end %>
  </div>
  <%= render 'link_button' %>
  <div class="flex justify-center">
    <ul class="w-full max-w-2xl grid grid-cols-1 justify-center items-center gap-4">
      <% @list_books.each do |list_book| %>
        <li class="card bg-base-100 w-[95%] shadow-xl mx-auto rounded-none">
          <figure class="bg-white py-3">
            <%= image_tag(list_book.book.cover_image_url, alt: list_book.book.title) %>
          </figure>
          <div class="card-body bg-orange-100">
            <div>
              <h2 class="text-lg font-semibold"><%= list_book.book.title %></h2>
              <p>読了日時: <%= list_book.read_completed_at.strftime('%Y年%m月%d日') %></p>
              <p class="line-clamp-2">コメント: <%= list_book.comment %></p>
              <div class="card-actions justify-end">
                <%= link_to '詳細', list_book_path(@list.id, list_book.book_id), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render 'link_button' %>

</article>