<h1 class="font-bold text-4xl text-center mb-4">書籍一覧</h1>
  <div class="flex justify-center">
    <%= link_to 'TOPへ戻る', root_path, class: 'btn btn-primary' %>
    <%= link_to '書籍登録画面', new_list_book_path(@list.id), class: 'btn btn-primary' %>
    <% if current_user&.id == @list.user_id %>
      <%= link_to 'リスト編集', edit_list_path(@list.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="flex justify-center">
  <ul class="w-full max-w-2xl">
    <% @list_books.each do |list_book| %>
      <li class="mb-4 p-4 border rounded shadow mt-4">
        <%= image_tag(list_book.book.cover_image_url) %>
        <strong class="block text-lg font-semibold mb-2">タイトル:</strong>
        <span class="block mb-2"><%= list_book.book.title %></span>
        <strong class="block text-lg font-semibold mb-2">ユーザー名:</strong>
        <strong>読了日時:</strong> <%= list_book.read_completed_at.strftime('%Y年%m月%d日') %><br>
        <strong>コメント:</strong> <%= list_book.comment %>
        <p>
          <% if current_user&.id == @list.user_id %>
            <%= link_to '編集', edit_list_book_path(@list.id, list_book.book_id), class: "link" %>
          <% end %>
          <%= link_to '詳細', list_book_path(@list.id, list_book.book_id), class: "link" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
<div class="mt-auto flex justify-center w-full">
  <%= link_to 'Xシェア', "#", class: 'btn btn-primary' %>
</div>
