<h1 class="zen-maru-gothic-bold text-4xl text-center mb-4">プロフィール編集</h1>

<div class="flex justify-center">
  <div class="w-full max-w-md p-6 border rounded shadow">
    <%= form_with model: @user do |form| %>
      <div class="mb-4">
        <%= form.label :name, "名前", class: "block text-lg font-semibold mb-1" %>
        <%= form.text_field :name, class: "w-full p-2 border rounded" %>
      </div>

      <div class="mb-4">
        <%= form.label :engineer_start_date, "エンジニア開始日", class: "block text-lg font-semibold mb-1" %>
        <%= form.date_field :engineer_start_date, class: "w-full p-2 border rounded", max: Date.today %>
      </div>

      <div class="mb-4">
        <%= form.label :profile_content, "プロフィール文", class: "block text-lg font-semibold mb-1" %>
        <%= form.text_area :profile_content, class: "w-full p-2 border rounded h-32" %>
      </div>

      <div class="mb-4">
        <strong class="block text-lg font-semibold mb-1">公開/非公開</strong>
        <div class="flex gap-4">
          <%= form.radio_button :is_public, "true", class: "mr-1" %>
          <%= form.label :is_public_true, "公開", class: "mr-4" %>
          <%= form.radio_button :is_public, "false", class: "mr-1" %>
          <%= form.label :is_public_false, "非公開" %>
        </div>
      </div>

      <div class="flex justify-center">
        <%= form.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="mt-8 flex justify-center">
  <%= link_to 'プロフィールに戻る', user_path(@user), class: 'btn btn-primary' %>
</div>