<h1 class="font-bold text-4xl">書籍詳細ページ</h1>
<div>
  <dl>
    <dt>タイトル:</dt>
    <dd><%= @book.title %></dd>
    <dt>表紙画像:</dt>
    <dd>
      <img src="<%= @book.cover_image_url %>" alt="<%= @book.title %> 表紙" class="book-cover">
    </dd>
    <dt>読了日:</dt>
    <dd><%= @list_book.read_completed_at.strftime('%Y年%m月%d日') if @list_book.read_completed_at %></dd>
    <dt>コメント:</dt>
    <dd><%= @list_book.comment %></dd>
  </dl>
  <% if current_user.id == @list_book.list.user_id %>
    <%= link_to '編集', edit_list_book_path(@list_book.list_id, @book.id), class: "link" %>
  <% end %>
  <%= link_to '戻る', request.referer || list_path(@list_book.list_id), class: "link" %>
</div>