<article class="flex flex-col items-center justify-center gap-8 lg:max-w-2xl lg:mx-auto">
  <h1 class="zen-maru-gothic-bold text-4xl text-center"><%= title "書籍詳細" %></h1>
  <div class="bg-white p-4 flex flex-col items-center justify-between gap-4 w-full lg:py-6 lg:px-8">
    <figure>
      <%= image_tag(@book.cover_image_url, alt: @book.title) %>
    </figure>
    <h2 class="text-xl font-bold link link-primary"><a href="<%= @book.url %>" target="_blankc" ><%= @book.title %></a></h2>
    <section>
      <% if @book.categories.present? %>
        <% @book.categories.map do |category| %>
          <span class="badge  badge-ghost"><%= category.name %></span>
        <% end %>
      <% else %>
        <span class="badge badge-ghost">未設定</span>
      <% end %>
    </section>
    <section class="text-start w-full flex flex-col items-start gap-2">
      <div>
        <h3 class="text-lg font-semibold">読了日</h3>
        <p><%= @list_book.read_completed_at.strftime('%Y年%m月%d日') if @list_book.read_completed_at %></p>
      </div>
      <div>
        <h3 class="text-lg font-semibold">コメント</h3>
        <p class="whitespace-pre-wrap"><%= @list_book.comment %></p>
      </div>
    </section>
    <section class="flex justify-center gap-3">
      <% if current_user&.id == @list_book.list.user_id %>
        <%= link_to '編集', edit_list_book_path(@list_book.list_id, @book.id), class: "link" %>
      <% end %>
      <%= link_to 'リストに戻る', list_path(@list_book.list_id), class: "link" %>
    </section>
  </div>
</article>