<footer class="footer p-6 bg-base-200">
  <div class="flex justify-between items-center w-full lg:max-w-[780px] mx-auto">
    <h2 class="mb-10 lg:mb-0"><%= image_tag "logo.png", alt: "Logo", class: "h-20 w-auto" %></h2>
    <div>
      <nav class="ml-auto">
        <ul class="flex flex-col gap-1 text-end lg:flex-row lg:gap-3">
          <li><%= link_to "Contact", contact_path, class: "link" %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path, class: "link" %></li>
          <li><%= link_to "Terms Of Service", terms_of_service_path, class: "link" %></li>
        </ul>
      </nav>
      <p class="mt-4">© <%= Date.today.year %> 来読-ReadMap-製作委員会</p>
    </div>
  </div>
</footer>